.logo {
  font-size: 36px;
  font-weight: bold;
  white-space: nowrap;
  font-family: var(--font-logo);
  &Accent {
    font-size: 28px;
    color: var(--color-blue);
  }

  &Small {
    font-size: 24px;
    .logoAccent {
      font-size: 20px;
      color: var(--color-blue);
    }
  }
}
