.codeBlock {
  margin-bottom: 2rem;
  font-size: 9px;

  &Highlight {
    padding: 1rem !important;
    border-radius: 0.3rem !important;
  }

  &Title {
    display: inline-block;
    padding: 0.55rem 1rem;
    font-family: Inconsolata, Monaco, Consolas, 'Courier New', Courier, monospace;
    font-size: 8px;
    color: white;
    background-color: var(--color-black);
    border-radius: 0.3rem 0.3rem 0 0;

    & + .codeBlockHighlight {
      margin-top: 0 !important;
      border-radius: 0 0.3rem 0.3rem !important;
    }
  }
}
