@use '../../foundation/typography' as *;

.article {
  max-width: var(--width-max);
  padding: 0 6vw;
  margin: 0 auto;

  &MV {
    width: '100%';
    height: 'auto';
  }

  &Head {
    margin-top: 16px;
  }

  &Title {
    @include heading1;
  }

  &Summary {
    display: flex;
    align-items: center;
    margin-top: 8px;
  }

  &Category {
    @include paragraph3;

    margin-right: auto;
    font-weight: bold;
    color: var(--color-dark-gray);
  }

  &Date {
    display: flex;
    gap: 4px;
    align-items: center;
    margin-left: 16px;
    @include paragraph3;
  }
}
