@use "../../foundation/typography" as *;

.card {
  background-color: var(--color-white);
  border-radius: 8px;
  filter: drop-shadow(4px 6px 13px rgba(215, 215, 215, 0));
  transition: filter .3s var(--ease-out-quad);

  &:hover {
    opacity: 1;
    filter: drop-shadow(4px 6px 13px rgba(215, 215, 215, 0.5));
  }

  &__inner {
    padding: 20px;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;

    &:hover {
      opacity: 1;
    }
  }

  &__img {
    border-radius: 12.6px;
  }

  &__title {
    margin-top: 24px;
    @include sub-heading2;
  }

  &__summary {
    margin-top: auto;
  }
}

.profile {
  display: flex;

  &__img {

  }
}
