@use '../../foundation/typography' as *;

.section {
  display: flex;
  flex-direction: column;
  min-width: var(--width-base);
  padding: 0 6%;


  &:nth-child(even) {
    padding: 32px 7%;
    background-color: var(--color-white);
  }

  & + & {
    margin-block-start: 32px;
  }

  &Title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;

    &Heading {
      @include sub-heading1;
      display: flex;
      align-items: center;

      &::after {
        margin-left: 8px;
        height: 2px;
        width: 35px;
        display: block;
        content: '';
        background-color: var(--color-black);
      }
    }

    &Link {
      display: flex;
      align-items: center;
      &::after {
        margin-left: 4px;
        content: '';
        display: block;
        width: 8px;
        aspect-ratio: 1 / 1;
        border-top: 2px solid var(--color-black);
        border-right: 2px solid var(--color-black);
        transform: rotate(45deg);
      }
    }
  }

  &Content {
  }
}
