@use '../../foundation/typography' as *;

.section {
  display: flex;
  flex-direction: column;

  &Title {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &Heading {
      @include sub-heading1;
      display: flex;
      align-items: center;

      &::after {
        margin-left: 8px;
        height: 2px;
        width: 35px;
        display: block;
        content: '';
        background-color: var(--color-black);
      }
    }

    &Link {
      display: flex;
      align-items: center;
      &::after {
        margin-left: 4px;
        content: '';
        display: block;
        width: 8px;
        aspect-ratio: 1 / 1;
        border-top: 2px solid var(--color-black);
        border-right: 2px solid var(--color-black);
        transform: rotate(45deg);
      }
    }
  }

  &Content {
    padding: 20px;
  }
}
