@use '../foundation/typography' as *;
@use '../foundation/conf/variable' as *;

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  width: 100%;
  margin: 0 auto;
  padding: 0 6%;
  background-color: var(--color-light-grey1);
  z-index: $z-index__layer2;
  // box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  @media screen and (max-width: 959px) {
    /* 959px以下に適用されるCSS（タブレット用） */
    .headerNavList{
      gap: 24px;

      &Item {
        font-size: 20px;
        line-height: 1;

        a {
          align-items: flex-end;
        }

        p {
          display: none;
        }
      }
    }
  }
  @media screen and (max-width: 480px) {
    /* 480px以下に適用されるCSS（スマホ用） */
    .headerNavList{
      gap: 24px;

      &Item {
        font-size: 20px;
        line-height: 1;

        a {
          align-items: flex-end;
        }

        p {
          display: none;
        }
      }
    }
  }

  &Nav {
    margin-left: auto;
    &List {
      display: flex;
      align-items: center;
      gap: 50px;
      list-style: none;

      &Item {
        @include sub-heading2;
        letter-spacing: 0.05em;

        a {
          display: flex;
          align-items: center;
          gap: 6px;
        }
      }
    }
  }
}
