.l-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 86px;
  width: 100%;
  margin: 0 auto;

  &__logo {
    width: 50px;
    font-size: 26px;
  }

  &__nav {
    margin-left: auto;
    &-list {
      display: flex;
      gap: 50px;
      list-style: none;

      &-item {
        font-size: 16px;
        font-weight: bold;
        letter-spacing: 0.05em;
      }
    }
  }
}
