@use '../foundation/typography';
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 86px;
  width: 100%;
  margin: 0 auto;
  min-width: var(--width-base);
  padding: 0 7%;

  &Logo {
    width: 50px;
    font-size: 36px;
    font-weight: bold;
    white-space: nowrap;
    font-family: var(--font-logo);
  }

  &Nav {
    margin-left: auto;
    &List {
      display: flex;
      gap: 50px;
      list-style: none;

      &Item {
        font-size: 16px;
        font-weight: bold;
        letter-spacing: 0.05em;
      }
    }
  }
}
